.ims-logo {
    width:200px;
    border-radius: 15px;
    background: #110463;
    font-size:56pt;
    color:white;
    font-family: "Franklin Gothic Medium", sans-serif;
}

.dropdown-menu.dropdown-fix {
    margin-top: 8px;
    box-shadow: 0 0 20px 0 rgba(150, 150, 150, 0.5);
}

.table-block {
    display: table;
    margin-top: 15px;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    font-size: 12pt;
    padding-right: 10px;
    padding-top: 10px;
}

.input {
    padding: 10px;
    font-size: 12pt;
    border: 2px solid #010051;
    width: 350px;
}

.submit-btn {
    background: #242424;
    font-size: 14pt;
    color: white;
    padding: 10px 25px;
    border: 0;
}

.submit-btn:hover {
    cursor: pointer;
    background: #010051;
}

.err-msg {
    background: #570004;
    color: white;
    padding: 10px 25px;
    font-size: 12pt;
}

.info-msg {
    background: #010051;
    color: white;
    padding: 10px 25px;
    font-size: 12pt;
}