
.dropdown-menu.dropdown-fix {
    margin-top: 8px;
    box-shadow: 0 0 20px 0 rgba(150, 150, 150, 0.5);
}

.table-block {
    display: table;
    margin-top: 15px;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    font-size: 12pt;
    padding-right: 10px;
    padding-top: 10px;
}

.login-header {
    padding: 50px 50px 10px 50px;
    border-bottom: 2px solid #010051;
    font-size: 32pt;
    color: #010051;
    text-align: center;
}

.input {
    padding: 10px;
    font-size: 12pt;
    border: 2px solid #010051;
    width: 350px;
}

.input-textarea {
    padding: 10px;
    font-size: 12pt;
    border: 2px solid #010051;
    width: 500px;
    height: 300px;
    resize: none;
}

.submit-btn {
    background: #242424;
    font-size: 14pt;
    color: white;
    padding: 10px 25px;
    border: 0;
}

.submit-btn:hover {
    cursor: pointer;
    background: #010051;
}

.err-msg {
    border: 1px solid #570004;
    background: #fed6d6;
    color: #570004;
    padding: 10px 25px;
    font-size: 12pt;
    margin: 10px 0;
}

.info-msg {
    background: #eaf0fe;
    border: 1px solid #0056bb;
    color: #0056bb;
    padding: 10px 25px;
    font-size: 12pt;
    margin: 10px 0;
}

.warn-msg {
    background: #fffbd2;
    border: 1px solid #e99423;
    color: #e99423;
    padding: 8px 16px;
    margin: 10px 0;
}

.required-field-marker:after {
    color: red;
    font-weight: bold;
    content: " *";
}

.issues-frame {
    display: table;
    margin-left: 35px;
    margin-right: 35px;
    width: calc(100% - 35px - 35px);
}

.issue-body-frame {
    display: table-cell;
    padding: 15px 25px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 1px solid #919191;
    border-top: 1px solid #919191;
    border-bottom: 1px solid #919191;
    vertical-align: top;
}

.issue-body-frame.no-content {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 17pt;
    color: #5b5b5b;
}

.issue-list-frame {
    display: table-cell;
    width: 290px;
    background: #eeeeee;
    border-right: 1px solid #919191;
    border-top: 1px solid #919191;
    border-bottom: 1px solid #919191;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    vertical-align: top;
}


/*
Пункт в списке тикетов
 */
.issue-list-item {
    padding: 7px 14px;
    border-bottom: 1px solid gray;
}

.issue-list-item:hover, .issue-list-item.selected {
    background: #323232;
    color: white;
    cursor: pointer;
}

.issue-list-item:hover > .issue-list-item-header,
.issue-list-item.selected > .issue-list-item-header {
    color: white;
    cursor: pointer;
}

.issue-list-item:hover > .issue-list-item-body,
.issue-list-item.selected > .issue-list-item-body {
    color: #d7d7d7;
    cursor: pointer;
}

.issue-list-item-header {
    color: black;
}

.issue-list-item-body {
    color: #252525;
}