<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="libs :: headerFragment">
    <title id="pageTitle">Главная страница</title>
</head>
<body>
<div th:replace="menu :: menu"></div>

<!-- body -->
<div class="container" style="padding-top:20px">
    <h1>Главная страница</h1>

    На главной странице будут размещены данные, актуальные для сотрудника.

    <div style="margin-top:20px;">
        <button class="btn btn-dark"
                onclick="window.location.href = '/dashboards/projects'"
        >
            Проекты, отстающие от сроков выполнения
        </button>
        <button class="btn btn-dark"
                onclick="window.location.href = '/dashboards/employees'"
        >
            Наиболее эффективные сотрудники
        </button>
    </div>
</div>
</body>
</html>