<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="libs :: headerFragment">
    <title id="pageTitle">Справочник приоритетов задач</title>
</head>
<body>
<div th:replace="menu :: menu"></div>

<div class="container" style="padding-top:20px;">
    <h1>Приоритеты задач</h1>

    <div>
        <div style="margin-bottom: 20px">
            <a type="button"
               class="btn btn-dark"
               th:href="@{/handbook/issuePriorities/add}"
            >
                Добавить новый приоритет
            </a>
        </div>

        <div id="response"></div>

        <div th:if="${entities == null || entities.size() == 0}"
             class="warn-msg">
            Справочник пуст.
        </div>
        <table th:unless="${entities == null || entities.size() == 0}" class="table" style="border:1px solid gray;">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Название приоритета</th>
                <th scope="col" style="width:250px"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="priority : ${entities}" th:id="'row-'+${priority.getId()}">
                <td scope="row" th:text="${priority.getName()}">
                </td>
                <td style="width:250px">
                    <a class="btn btn-primary" target="_blank"
                       th:href="@{'/handbook/issuePriorities/edit/' + ${priority.getId()}}">
                        Изменить
                    </a>
                    <a class="btn btn-danger"
                       th:href="'#'"
                       th:onclick="'deleteRequest('+${priority.getId()}+',\'issuePriorities\')'"
                    >
                        Удалить
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>