<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="libs :: headerFragment">
    <title id="pageTitle">Справочник типов задач</title>
</head>
<body>
<div th:replace="menu :: menu"></div>

<div class="container" style="padding-top:20px;">
    <h1>Типы задач</h1>

    <div>
        <div id="response"></div>

        <!-- ADD BUTTON -->
        <button type="button" class="btn btn-dark"
                data-toggle="modal" data-target="#addEntity"
                style="margin-bottom:20px;"
        >
            Добавить тип задач
        </button>

        <!-- ADD MODAL FORM -->
        <div class="modal fade" id="addEntity" tabindex="-1" role="dialog"
             aria-labelledby="addDialogTitle" aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addDialogTitle">Добавить тип задач</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div id="add-response"></div>

                        <div class="warn-msg" th:if="${statuses == null || statuses.size() == 0}">
                            Создание типов задач ограничено, т.к. нет ни одного <a
                                href="/handbook/issueWorkflowStatuses/add">статуса
                            рабочего процесса</a>.
                        </div>
                        <form id="addForm" action="javascript:void(0)" method="post"
                              onsubmit="addRequest('issueTypes')"
                              th:unless="${statuses == null || statuses.size() == 0}"
                        >
                            <div class="table-block">
                                <div class="table-row">
                                    <div class="table-cell" style="width:200px">
                                        <b class="required-field-marker">Название типа:</b>
                                    </div>
                                    <div class="table-cell">
                                        <input type="text" class="input" name="name" placeholder="Например, Дефект"/>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell" style="vertical-align:top;width:200px">
                                        <b class="required-field-marker">Выберите статусы рабочего процесса, допустимые
                                            для данного
                                            типа:</b>
                                    </div>
                                    <div class="table-cell" style="vertical-align:top;">
                                        <select multiple name="statuses" class="input">
                                            <option th:each="status : ${statuses}"
                                                    th:value="${status.getId()}"
                                                    th:text="${status.getName()}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell" style="width:200px">
                                    </div>
                                    <div class="table-cell">
                                        <input type="submit" class="submit-btn" value="Добавить"/>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!--/ ADD MODAL FORM -->

        <!-- EDIT MODAL FORM -->
        <div class="modal fade" id="editEntity" tabindex="-1" role="dialog"
             aria-labelledby="editDialogTitle" aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editDialogTitle">Редактировать тип задач</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div id="edit-response"></div>

                        <form id="editForm" action="javascript:void(0)" method="post"
                              onsubmit="editRequest('issueTypes')"
                              th:unless="${statuses == null || statuses.size() == 0}"
                        >
                            <input type="hidden" id="entityId" name="id"/>

                            <div class="table-block">
                                <div class="table-row">
                                    <div class="table-cell" style="width:200px">
                                        <b class="required-field-marker">Название типа:</b>
                                    </div>
                                    <div class="table-cell">
                                        <input type="text" id="entityName" class="input" name="name"
                                               placeholder="Например, Дефект"/>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell" style="vertical-align:top;width:200px">
                                        <b class="required-field-marker">Выберите статусы рабочего процесса, допустимые
                                            для данного
                                            типа:</b>
                                    </div>
                                    <div class="table-cell" style="vertical-align:top;">
                                        <select multiple name="statuses" class="input">
                                            <option th:each="status : ${statuses}"
                                                    th:value="${status.getId()}"
                                                    th:text="${status.getName()}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell" style="width:200px">
                                    </div>
                                    <div class="table-cell">
                                        <input type="submit" class="submit-btn" value="Сохранить изменения"/>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!--/ EDIT MODAL FORM -->

        <div th:if="${entities == null || entities.size() == 0}"
             class="warn-msg">
            Справочник пуст.
        </div>
        <table th:unless="${entities == null || entities.size() == 0}" class="table" style="border:1px solid gray;">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Название типа</th>
                <th scope="col">Допустимые статусы рабочего процесса</th>
                <th scope="col" style="width:250px"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entity : ${entities}" th:id="'row-'+${entity.getId()}">
                <td scope="row" th:text="${entity.getName()}">
                </td>
                <td scope="row">
                    <div th:each="status : ${entity.getWorkflowStatuses()}">
                        <span th:text="${status.getName()}"></span>
                    </div>
                </td>
                <td style="width:250px">
                    <button type="button"
                            class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#editEntity"
                            th:data-name="${entity.getName()}"
                            th:data-id="${entity.getId()}"
                    >
                        Изменить
                    </button>
                    <button class="btn btn-danger"
                            th:onclick="'deleteRequest('+${entity.getId()}+',\'issueTypes\')'"
                    >
                        Удалить
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $('#editEntity').on(
        'show.bs.modal',
        function (event) {
            let button = $(event.relatedTarget);
            let name = button.data('name');
            let id = Number.parseInt(button.data('id'));
            let modal = $(this);
            modal.find("#entityName").val(name);
            modal.find("#entityId").val(id)
        }
    );
</script>
</body>
</html>