<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="libs :: headerFragment">
    <title id="pageTitle">Информация о задаче</title>
</head>
<body>
<div th:replace="menu :: menu"></div>

<!-- body -->
<div style="padding-top:35px;padding-bottom:35px;">

    <div id="response"></div>

    <button type="button" class="btn btn-dark"
            data-toggle="modal" data-target="#addIssue"
            style="margin-left:35px;margin-bottom:20px;"
    >
        Создать задачу
    </button>

    <!-- ADD ISSUE MODAL FORM -->
    <div class="modal fade" id="addIssue" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Создать новую задачу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="add-issue-response"></div>

                    <div class="warn-msg"
                         th:if="${issueTypes == null || issueTypes.size() == 0
                         || issuePriorities == null || issuePriorities.size() == 0
                         || employees == null || employees.size() == 0
                         || projects == null || projects.size() == 0
                         || issueWorkflowStatuses == null || issueWorkflowStatuses.size() == 0}"
                    >
                        Создание новых задач ограничено, т.к. нет ни одного
                        <a href="/handbook/issueTypes/add">типа</a>,
                        <a href="/handbook/issuePriorities/add">приоритета</a> задачи,
                        <a href="/handbook/issueWorkflowStatuses/add">статуса рабочего процесса</a> задачи,
                        <a href="/projects/add">проекта</a>
                        или ни одного <a href="/handbook/employees/add">сотрудника</a>.
                    </div>
                    <form style="vertical-align:top;margin-bottom:30px;"
                          id="addIssueForm" action="javascript:void(0)" method="post"
                          onsubmit="addOperativeDataRequest('issues', '#addIssueForm', '#add-issue-response')"

                          th:unless="${issueTypes == null || issueTypes.size() == 0
                          || issuePriorities == null || issuePriorities.size() == 0
                          || employees == null || employees.size() == 0
                          || projects == null || projects.size() == 0
                          || issueWorkflowStatuses == null || issueWorkflowStatuses.size() == 0}"

                          th:object="${descriptionWrapper}"
                    >
                        <div class="table-block">
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                    <b class="required-field-marker">Название задачи:</b>
                                </div>
                                <div class="table-cell">
                                    <input type="text"
                                           class="input"
                                           name="title"
                                           placeholder="Например, Добавить кнопку на страницу"
                                    />
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Проект:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="addIssueProjectId" name="projectId" class="input">
                                        <option th:each="project : ${projects}"
                                                th:value="${project.getId()}"
                                                th:text="${project.getTitle()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Статус задачи:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="statusId" class="input">
                                        <option th:each="status : ${issueWorkflowStatuses}"
                                                th:value="${status.getId()}"
                                                th:text="${status.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Тип задачи:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="typeId" class="input">
                                        <option th:each="type : ${issueTypes}"
                                                th:value="${type.getId()}"
                                                th:text="${type.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Приоритет задачи:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="priorityId" class="input">
                                        <option th:each="priority : ${issuePriorities}"
                                                th:value="${priority.getId()}"
                                                th:text="${priority.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Описание:</b>
                                </div>
                                <div class="table-cell">
                                    <textarea class="input-textarea"
                                              th:field="*{description}"
                                              form="addIssueForm"
                                              placeholder="Опишите подробно, что нужно сделать в рамках задачи."
                                    ></textarea>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b>Дата окончания:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <input type="text"
                                           name="dueDateStr"
                                           class="form-control"
                                           style="width:200px;height:45px;border: 2px solid #010051;font-size:12pt;padding:10px;border-radius:0;"
                                           id="addDueDate"
                                           placeholder="Например, 01.01.1970"
                                    />
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b>Сотрудник:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="assigneeId" class="input">
                                        <option value="0" selected>
                                            - Не назначен -
                                        </option>
                                        <option th:each="employee : ${employees}"
                                                th:value="${employee.getId()}"
                                                th:text="${employee}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b>Родительская задача:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="parentIssueId" class="input">
                                        <option value="0" selected>
                                            - Нет родительской задачи -
                                        </option>
                                        <option th:each="issue : ${issues}"
                                                th:value="${issue.getId()}"
                                                th:text="${issue.getId()} + ': ' + ${issue.getTitle()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                </div>
                                <div class="table-cell">
                                    <input type="submit" class="submit-btn" value="Создать задачу"/>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--/ ADD ISSUE MODAL FORM -->

    <!-- EDIT ISSUE MODAL FORM -->
    <div class="modal fade" id="editIssue" tabindex="-1" role="dialog"
         aria-labelledby="editDialogTitle" aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать задачу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="edit-issue-response"></div>

                    <form style="vertical-align:top;margin-bottom:30px;"
                          id="editIssueForm" action="javascript:void(0)" method="post"
                          onsubmit="editOperativeDataRequest('issues', '#editIssueForm', '#edit-issue-response')"

                          th:unless="${issueTypes == null || issueTypes.size() == 0
                          || issuePriorities == null || issuePriorities.size() == 0
                          || employees == null || employees.size() == 0
                          || projects == null || projects.size() == 0
                          || issueWorkflowStatuses == null || issueWorkflowStatuses.size() == 0}"

                          th:object="${descriptionWrapper}"
                    >
                        <input type="hidden" id="issueId" name="issueId"/>

                        <div class="table-block">
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                    <b class="required-field-marker">Название задачи:</b>
                                </div>
                                <div class="table-cell">
                                    <input type="text"
                                           class="input"
                                           id="issueTitle"
                                           name="title"
                                           placeholder="Например, Добавить кнопку на страницу"
                                    />
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Проект:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="editIssueProjectId" name="projectId" class="input">
                                        <option th:each="project : ${projects}"
                                                th:value="${project.getId()}"
                                                th:text="${project.getTitle()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Статус задачи:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="issueStatusId" name="statusId" class="input">
                                        <option th:each="status : ${issueWorkflowStatuses}"
                                                th:value="${status.getId()}"
                                                th:text="${status.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Тип задачи:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="issueTypeId" name="typeId" class="input">
                                        <option th:each="type : ${issueTypes}"
                                                th:value="${type.getId()}"
                                                th:text="${type.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Приоритет задачи:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="issuePriorityId" name="priorityId" class="input">
                                        <option th:each="priority : ${issuePriorities}"
                                                th:value="${priority.getId()}"
                                                th:text="${priority.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Описание:</b>
                                </div>
                                <div class="table-cell">
                                    <textarea class="input-textarea"
                                              th:field="*{description}"
                                              id="issueDescription"
                                              form="editIssueForm"
                                              placeholder="Опишите подробно, что нужно сделать в рамках задачи."
                                    ></textarea>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b>Дата окончания:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <input type="text"
                                           name="dueDateStr"
                                           class="form-control"
                                           style="width:200px;height:45px;border: 2px solid #010051;font-size:12pt;padding:10px;border-radius:0;"
                                           id="editDueDate"
                                           placeholder="Например, 01.01.1970"
                                    />
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b>Сотрудник:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="issueAssignee" name="assigneeId" class="input">
                                        <option value="0" selected>
                                            - Не назначен -
                                        </option>
                                        <option th:each="employee : ${employees}"
                                                th:value="${employee.getId()}"
                                                th:text="${employee}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b>Родительская задача:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="issueParent" name="parentIssueId" class="input">
                                        <option value="0" selected>
                                            - Нет родительской задачи -
                                        </option>
                                        <option th:each="issue : ${issues}"
                                                th:value="${issue.getId()}"
                                                th:text="${issue.getId()} + ': ' + ${issue.getTitle()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                </div>
                                <div class="table-cell">
                                    <input type="submit" class="submit-btn" value="Сохранить изменения"/>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--/ EDIT ISSUE MODAL FORM -->

    <div class="issues-frame">
        <div style="display:table-row">
            <div th:if="${issue != null}" class="issue-body-frame" id="info-block">
                <div style="display:table;width:100%;">
                    <div style="display:table-row">
                        <div style="display:table-cell;">
                            <h4 th:text="${issue.getTitle()}"></h4>
                        </div>
                        <div style="display:table-cell;width:80px;padding-right:5px;">
                            <button type="button"
                                    class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#editIssue"
                                    th:data-id="${issue.getId()}"
                                    th:data-title="${issue.getTitle()}"
                                    th:data-description="${issue.getDescription()}"
                                    th:data-issue-type="${issue.getType().getId()}"
                                    th:data-issue-priority="${issue.getPriority().getId()}"
                                    th:data-issue-status="${issue.getStatus().getId()}"
                                    th:data-assignee="${issue.getAssignee() != null ? issue.getAssignee().getId() : null}"
                                    th:data-due-date="${issue.getDueDate() != null ? issue.getDueDate() : null}"
                                    th:data-parent-issue="${issue.getParent() != null ? issue.getParent().getId() : null}"
                                    th:data-project="${issue.getProject().getId()}"
                            >
                                Изменить
                            </button>
                        </div>
                        <div style="display:table-cell;width:80px;padding-left:5px;">
                            <button class="btn btn-danger"
                                    th:onclick="'deleteOperativeDataRequest('+${issue.getId()}+',\'issues\')'"
                            >
                                Удалить
                            </button>
                        </div>
                    </div>
                </div>

                <div style="margin-top:10px;margin-bottom:10px;">
                    <div style="display:table;">
                        <div style="display:table-row">
                            <div style="display:table-cell;padding:5px 5px 5px 0;">
                                Тип:
                            </div>
                            <div style="display:table-cell;padding:5px 10px;background:#2b2b2b;color:white;border-radius:4px;"
                                 th:text="${issue.getType().getName()}"
                            >
                            </div>

                            <div style="display:table-cell;padding:5px;">
                                Приоритет:
                            </div>
                            <div style="display:table-cell;padding:5px 10px;background:#2b2b2b;color:white;border-radius:4px;"
                                 th:text="${issue.getPriority().getName()}"
                            >
                            </div>

                            <div style="display:table-cell;padding:5px;">
                                Статус:
                            </div>
                            <div style="display:table-cell;padding:5px 10px;background:#2b2b2b;color:white;border-radius:4px;"
                                 th:text="${issue.getStatus().getName()}"
                            >
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top:20px;">
                    <b>Проект: </b>
                    <a th:href="'/projects/' + ${issue.getProject().getId()}"
                       th:text="${issue.getProject().getTitle()}"
                    ></a>
                </div>

                <div style="display:table;width:100%;border-bottom:1px solid #aaaaaa;">
                    <div style="display:table-row">
                        <div style="display:table-cell;padding:15px 15px 15px 0;">
                            <b style="color:#575757;">Описание задачи</b>
                            <p th:text="${issue.getDescription()}"></p>

                            <div>
                                <h6>Подзадачи:</h6>

                                <!-- Issues table -->

                                <div>
                                    <button type="button" class="btn btn-success"
                                            data-toggle="modal" data-target="#addIssue"
                                            th:data-project="${issue.getProject().getId()}"
                                            style="margin-top:20px;"
                                    >
                                        Создать подзадачу
                                    </button>
                                </div>

                                <table class="table" style="border:1px solid rgb(233, 236, 239);margin:10px 0;">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col" style="width:50px;">#</th>
                                        <th scope="col">Название задачи</th>
                                        <th scope="col">Приоритет</th>
                                        <th scope="col">Статус</th>
                                        <th scope="col">Ответственный</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <!-- if issues exists -->
                                    <tbody th:if="${issue.getChildren() != null && issue.getChildren().size() > 0}">
                                    <tr th:id="'subtask-row-' + ${subtask.getId()}"
                                        th:each="subtask : ${issue.getChildren()}">
                                        <td style="border:1px solid rgb(233, 236, 239);"
                                            th:text="${subtask.getId()}"></td>
                                        <td style="border:1px solid rgb(233, 236, 239);">
                                            <a th:href="'/issues/'+${subtask.getId()}"
                                               th:text="${subtask.getTitle()}"
                                               target="_blank"
                                            >
                                            </a>
                                        </td>
                                        <td style="border:1px solid rgb(233, 236, 239);"
                                            th:text="${subtask.getPriority().getName()}"></td>
                                        <td style="border:1px solid rgb(233, 236, 239);"
                                            th:text="${subtask.getStatus().getName()}"></td>
                                        <td style="border:1px solid rgb(233, 236, 239);"
                                            th:text="${subtask.getAssignee() != null ? subtask.getAssignee() : 'не назначен'}"></td>
                                        <td>
                                            <button type="button"
                                                    class="btn btn-primary"
                                                    data-toggle="modal"
                                                    data-target="#editIssue"
                                                    th:data-id="${subtask.getId()}"
                                                    th:data-title="${subtask.getTitle()}"
                                                    th:data-description="${subtask.getDescription()}"
                                                    th:data-issue-type="${subtask.getType().getId()}"
                                                    th:data-issue-priority="${subtask.getPriority().getId()}"
                                                    th:data-issue-status="${subtask.getStatus().getId()}"
                                                    th:data-assignee="${subtask.getAssignee() != null ? subtask.getAssignee().getId() : null}"
                                                    th:data-due-date="${subtask.getDueDate() != null ? subtask.getDueDate() : null}"
                                                    th:data-parent-issue="${subtask.getParent() != null ? subtask.getParent().getId() : null}"
                                                    th:data-project="${subtask.getProject().getId()}"
                                            >
                                                &#128393;
                                            </button>
                                            <button class="btn btn-danger"
                                                    th:onclick="'deleteOperativeDataRequest('+${subtask.getId()}+',\'issues\')'"
                                            >
                                                &#128940;
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <!-- else -->
                                    <tbody th:unless="${issue.getChildren() != null && issue.getChildren().size() > 0}">
                                    <tr>
                                        <td colspan="6">
                                            Для данного проекта еще не создано ни одной задачи.
                                        </td>
                                    </tr>
                                    </tbody>
                                    <!-- endif -->
                                </table>

                                <!--/ Issues table -->

                            </div>
                        </div>

                        <div style="display:table-cell;width:200px;padding:15px 0 15px 15px;border-left:1px solid #aaaaaa">
                            <div style="display:table;">
                                <div style="display:table-row">
                                    <div style="display:table-cell;color:#575757;font-weight:bold;">
                                        Создана:
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div style="display:table-cell;padding-bottom: 8px;"
                                         th:text="${issue.getCreator()}"
                                    >
                                    </div>
                                </div>

                                <div style="display:table-row">
                                    <div style="display:table-cell;color:#575757;font-weight:bold;">
                                        Ответственный:
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div style="display:table-cell;padding-bottom: 8px;"
                                         th:text="${issue.getAssignee() != null ? issue.getAssignee().getFirstName() + ' ' + issue.getAssignee().getLastName() : 'не назначен'}"
                                    >
                                    </div>
                                </div>

                                <div style="display:table-row">
                                    <div style="display:table-cell;color:#575757;font-weight:bold;">
                                        Дата создания:
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div style="display:table-cell;padding-bottom: 8px;"
                                         th:text="${#temporals.format(issue.getCreatedDateTime(), 'dd MMM yyyy HH:mm')}"
                                    >
                                    </div>
                                </div>

                                <div style="display:table-row">
                                    <div style="display:table-cell;color:#575757;font-weight:bold;">
                                        Дата последнего обновления:
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div style="display:table-cell;padding-bottom: 8px;"
                                         th:text="${#temporals.format(issue.getUpdatedDateTime(), 'dd MMM yyyy HH:mm')}"
                                    >
                                    </div>
                                </div>

                                <div style="display:table-row">
                                    <div style="display:table-cell;color:#575757;font-weight:bold;">
                                        Дата закрытия:
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div style="display:table-cell;padding-bottom: 8px;"
                                         th:text="${issue.getClosedDateTime() != null ? #temporals.format(issue.getClosedDateTime(), 'dd MMM yyyy HH:mm') : 'не закрыта'}"
                                    >
                                    </div>
                                </div>

                                <div style="display:table-row">
                                    <div style="display:table-cell;color:#575757;font-weight:bold;">
                                        Срок выполнения:
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div style="display:table-cell;padding-bottom: 8px;"
                                         th:text="${issue.getDueDate() != null ? #temporals.format(issue.getDueDate(), 'dd MMM yyyy') : 'не назначен'}"
                                    >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- issue actions and comments -->
                <div style="margin-top:20px;">
                    <h3 style="color:#575757">Журнал задачи</h3>

                    <div class="issue-action" th:each="action : ${actions}">
                        <span style="color:#565656;"
                              th:text="${#temporals.format(action.getDate(), 'dd MMM yyyy HH:mm')}"
                        ></span>

                        <span style="font-style: italic;"
                              th:text="${action.getEmployee()}"
                        ></span>
                        <span th:text="${action.getServiceComment()}"></span>

                        <div style="margin-top:5px;" th:text="${action.getEmployeeComment()}">
                        </div>
                    </div>
                </div>

                <!-- comment form -->
                <div id="add-comment-response"></div>

                <div style="margin-top:20px;">
                    <form id="addComment" action="javascript:void(0)" method="post"
                          th:object="${commentWrapper}"
                          onsubmit="addCommentRequest()"
                    >
                        <input type="hidden" name="issueId" th:value="${issue.getId()}">

                        <textarea class="input-textarea"
                                  style="width:100%;height:150px;"
                                  placeholder="Введите текст комментария"
                                  th:field="*{comment}"
                        ></textarea>

                        <br/>
                        <input type="submit" class="submit-btn" value="Опубликовать комментарий"/>
                    </form>
                </div>

            </div>
            <div th:unless="${issue != null}" class="issue-body-frame no-content">
                Задача не найдена
                <p style="font-size:12pt;">
                    Задача с таким ID не существует.
                </p>
            </div>

            <div class="issue-list-frame">
                <div style="padding: 15px;text-align:center;font-weight:bold;color:#919191;border-bottom:1px solid #919191;">
                    Все задачи
                </div>
                <div>
                    <div th:if="${issues != null && issues.size() > 0}" th:each="currentIssue : ${issues}"
                         th:class="${issue.getId() == currentIssue.getId() ? 'issue-list-item selected' : 'issue-list-item'}"
                         th:id="'row-'+${issue.getId()}"
                    >
                        <div class="issue-list-item-header" th:text="${currentIssue.getTitle()}"></div>
                        <div class="issue-list-item-body" th:text="${currentIssue.getDescription()}"></div>
                    </div>
                    <div th:unless="${issues != null && issues.size() > 0}"
                         style="padding-top:10px;text-align: center;">
                        Ничего не найдено.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //edit issue form
    $('#editIssue').on(
        'show.bs.modal',
        function (event) {
            let button = $(event.relatedTarget);
            let id = Number.parseInt(button.data('id'));
            let title = button.data('title');
            let description = button.data('description');
            let issueTypeId = Number.parseInt(button.data('issue-type'));
            let issuePriorityId = Number.parseInt(button.data('issue-priority'));
            let issueStatusId = Number.parseInt(button.data('issue-status'));
            let projectId = Number.parseInt(button.data('project'));
            let assigneeId = Number.parseInt(button.data('assignee'));
            let parentId = Number.parseInt(button.data('parent-issue'));
            let dueDate = button.data('due-date');

            let modal = $(this);

            modal.find("#issueId").val(id);
            modal.find("#issueTitle").val(title);
            modal.find("#issueDescription").val(description);
            modal.find("#editDueDate").val(dueDate);

            console.log('asda;fdf')

            $("#editIssueProjectId [value='" + projectId + "']").attr("selected", "selected");
            $("#issueTypeId [value='" + issueTypeId + "']").attr("selected", "selected");
            $("#issuePriorityId [value='" + issuePriorityId + "']").attr("selected", "selected");
            $("#issueStatusId [value='" + issueStatusId + "']").attr("selected", "selected");
            $("#issueAssignee [value='" + assigneeId + "']").attr("selected", "selected");
            $("#issueParent [value='" + parentId + "']").attr("selected", "selected");
        }
    );

    //date-pickers
    $(document).ready(function () {
        const format = {
            format: 'dd.mm.yyyy'
        };

        ['#addDueDate', '#editDueDate'].forEach(date => {
            $(date).datepicker(format).on(
                'show.bs.modal',
                function (event) {
                    event.stopPropagation();
                }
            )
        });

    });
</script>
</body>
</html>