<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="libs :: headerFragment">
    <title id="pageTitle">Информация о задаче</title>
</head>
<body>
<div th:replace="menu :: menu"></div>

<!-- body -->
<div style="padding-top:35px;padding-bottom:35px;">

    <div style="margin-left: 35px; margin-bottom: 10px;">
        <a type="button"
           class="btn btn-dark"
           th:href="@{/issues/add}"
        >
            Создать новую задачу
        </a>
    </div>

    <div class="issues-frame">
        <div style="display:table-row">
            <div th:if="${issue != null}" class="issue-body-frame">
                <div style="display:table;width:100%;">
                    <div style="display:table-row">
                        <div style="display:table-cell;">
                            <h4 th:text="${issue.getTitle()}"></h4>
                        </div>
                        <div style="display:table-cell;width:80px;padding-right:5px;">
                            <a th:href="'/issues/edit/' + ${issue.getId()}"
                               target="_blank"
                               class="btn btn-primary"
                            >
                                Изменить
                            </a>
                        </div>
                        <div style="display:table-cell;width:80px;padding-left:5px;">
                            <a th:href="'/issues/delete/' + ${issue.getId()}"
                               class="btn btn-danger"
                            >
                                Удалить
                            </a>
                        </div>
                    </div>
                </div>

                <div style="margin-top:10px;margin-bottom:10px;">
                    <div style="display:table;">
                        <div style="display:table-row">
                            <div style="display:table-cell;padding:5px 5px 5px 0;">
                                Тип:
                            </div>
                            <div style="display:table-cell;padding:5px 10px;background:#2b2b2b;color:white;border-radius:4px;"
                                 th:text="${issue.getType().getName()}"
                            >
                            </div>

                            <div style="display:table-cell;padding:5px;">
                                Приоритет:
                            </div>
                            <div style="display:table-cell;padding:5px 10px;background:#2b2b2b;color:white;border-radius:4px;"
                                 th:text="${issue.getPriority().getName()}"
                            >
                            </div>

                            <div style="display:table-cell;padding:5px;">
                                Статус:
                            </div>
                            <div style="display:table-cell;padding:5px 10px;background:#2b2b2b;color:white;border-radius:4px;"
                                 th:text="${issue.getStatus().getName()}"
                            >
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display:table;width:100%;">
                    <div style="display:table-row">
                        <div style="display:table-cell;padding:15px 15px 15px 0;">
                            <b style="color:#575757;">Описание задачи</b>
                            <p th:text="${issue.getDescription()}"></p>
                        </div>

                        <div style="display:table-cell;width:200px;padding:15px 0 15px 15px;border-left:1px solid #aaaaaa">
                            <div style="display:table;">
                                <div style="display:table-row">
                                    <div style="display:table-cell;color:#575757;font-weight:bold;">
                                        Создана:
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div style="display:table-cell;padding-bottom: 8px;"
                                         th:text="${issue.getCreator().getFirstName()} + ' ' + ${issue.getCreator().getLastName()}"
                                    >
                                    </div>
                                </div>

                                <div style="display:table-row">
                                    <div style="display:table-cell;color:#575757;font-weight:bold;">
                                        Ответственный:
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div style="display:table-cell;padding-bottom: 8px;"
                                         th:text="${issue.getAssignee() != null ? issue.getAssignee().getFirstName() + ' ' + issue.getAssignee().getLastName() : 'не назначен'}"
                                    >
                                    </div>
                                </div>

                                <div style="display:table-row">
                                    <div style="display:table-cell;color:#575757;font-weight:bold;">
                                        Дата создания:
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div style="display:table-cell;padding-bottom: 8px;"
                                         th:text="${issue.getCreatedDateTime()}"
                                    >
                                    </div>
                                </div>

                                <div style="display:table-row">
                                    <div style="display:table-cell;color:#575757;font-weight:bold;">
                                        Дата последнего обновления:
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div style="display:table-cell;padding-bottom: 8px;"
                                         th:text="${issue.getUpdatedDateTime()}"
                                    >
                                    </div>
                                </div>

                                <div style="display:table-row">
                                    <div style="display:table-cell;color:#575757;font-weight:bold;">
                                        Дата закрытия:
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div style="display:table-cell;padding-bottom: 8px;"
                                         th:text="${issue.getClosedDateTime() != null ? issue.getClosedDateTime() : 'не закрыта'}"
                                    >
                                    </div>
                                </div>

                                <div style="display:table-row">
                                    <div style="display:table-cell;color:#575757;font-weight:bold;">
                                        Срок выполнения:
                                    </div>
                                </div>
                                <div style="display:table-row">
                                    <div style="display:table-cell;padding-bottom: 8px;"
                                         th:text="${issue.getDueDate() != null ? issue.getDueDate() : 'не назначен'}"
                                    >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div th:unless="${issue != null}" class="issue-body-frame no-content">
                Задача не найдена
                <p style="font-size:12pt;">
                    Задача с таким ID не существует.
                </p>
            </div>

            <div class="issue-list-frame">
                <div style="padding: 15px;text-align:center;font-weight:bold;color:#919191;border-bottom:1px solid #919191;">
                    Все задачи
                </div>
                <div>
                    <div th:if="${issues != null && issues.size() > 0}" th:each="currentIssue : ${issues}"
                         th:class="${issue.getId() == currentIssue.getId() ? 'issue-list-item selected' : 'issue-list-item'}">
                        <div class="issue-list-item-header" th:text="${currentIssue.getTitle()}"></div>
                        <div class="issue-list-item-body" th:text="${currentIssue.getDescription()}"></div>
                    </div>
                    <div th:unless="${issues != null && issues.size() > 0}"
                         style="padding-top:10px;text-align: center;">
                        Ничего не найдено.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>