<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
    <title th:include=":: #pageTitle"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/deleteRequestSender.js}"></script>
    <script type="text/javascript" th:src="@{/js/addRequestSender.js}"></script>
    <script type="text/javascript" th:src="@{/js/editRequestSender.js}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js}"></script>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css}"/>
</head>