<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="libs :: headerFragment">
    <title id="pageTitle">Войти в систему</title>
</head>
<body>
<!-- body -->
<div class="container">
    <h1>Вход в систему</h1>

    <div th:replace="logo :: logo"></div>

    <form th:action="@{/login}" method="POST" class="form-signin">
        <br/>

        <input type="text" id="login" name="login" th:placeholder="Login"
               class="inputField"/> <br/>
        <input type="password" id="password" name="password" th:placeholder="Password"
               class="inputField"/> <br/>

        <input class="submitBtn" name="Submit" value="Войти в систему" type="Submit">
        <a href="/registration">Регистрация</a>
    </form>
</div>
</body>
</html>
