<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="libs :: headerFragment">
    <title id="pageTitle">Главная страница</title>
</head>
<body>
<div th:replace="menu :: menu"></div>

<!-- body -->
<div style="padding-top:35px">

    <div id="response"></div>

    <!-- ADD BUTTON -->
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addEntity"
            style="margin-bottom:20px;margin-left:35px;"
    >
        Создать новый проект
    </button>

    <!-- ADD MODAL FORM -->
    <div class="modal fade" id="addEntity" tabindex="-1" role="dialog"
         aria-labelledby="addDialogTitle" aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDialogTitle">Создать новый проект</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="add-response"></div>

                    <div class="warn-msg" th:if="${projectTypes == null || projectTypes.size() == 0}">
                        Создание проектов ограничено, т.к. нет ни одного <a href="/handbook/projectTypes/add">типа
                        проекта</a>.
                    </div>
                    <form id="addForm" action="javascript:void(0)" method="post"
                          onsubmit="addOperativeDataRequest('projects')"
                          th:unless="${projectTypes == null || projectTypes.size() == 0}"
                    >
                        <div class="table-block">
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                    <b class="required-field-marker">Название проекта:</b>
                                </div>
                                <div class="table-cell">
                                    <input type="text" class="input" name="title"
                                           placeholder="Например, MegaFon Billing System"/>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Тип проекта:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="projectTypeId" class="input">
                                        <option th:each="projectType : ${projectTypes}"
                                                th:value="${projectType.getId()}"
                                                th:text="${projectType.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                </div>
                                <div class="table-cell">
                                    <input type="submit" class="submit-btn" value="Создать"/>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--/ ADD MODAL FORM -->

    <!-- EDIT MODAL FORM -->
    <div class="modal fade" id="editEntity" tabindex="-1" role="dialog"
         aria-labelledby="editDialogTitle" aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDialogTitle">Редактировать проект</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="edit-response"></div>

                    <form id="editForm" action="javascript:void(0)" method="post"
                          onsubmit="editOperativeDataRequest('projects')"
                          th:unless="${projectTypes == null || projectTypes.size() == 0}"
                    >
                        <input type="hidden" id="entityId" name="id"/>

                        <div class="table-block">
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                    <b class="required-field-marker">Название проекта:</b>
                                </div>
                                <div class="table-cell">
                                    <input type="text" id="entityTitle" class="input" name="title"
                                           placeholder="Например, MegaFon Billing System"/>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Тип проекта:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="projectTypeId" name="projectTypeId" class="input">
                                        <option th:each="projectType : ${projectTypes}"
                                                th:value="${projectType.getId()}"
                                                th:text="${projectType.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                </div>
                                <div class="table-cell">
                                    <input type="submit" class="submit-btn" value="Сохранить изменения"/>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--/ EDIT MODAL FORM -->

    <div class="issues-frame">
        <div style="display:table-row">
            <div th:if="${projects != null && projects.size() > 0}" class="issue-body-frame" id="info-block">
                <div style="display:table;width:100%;">
                    <div style="display:table-row">
                        <div style="display:table-cell;">
                            <h4 th:text="${project.getTitle()}"></h4>
                        </div>
                        <div style="display:table-cell;width:80px;padding-right:5px;">
                            <button type="button"
                                    class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#editEntity"
                                    th:data-title="${project.getTitle()}"
                                    th:data-id="${project.getId()}"
                                    th:data-project-type="${project.getType().getId()}"
                            >
                                Изменить
                            </button>
                        </div>
                        <div style="display:table-cell;width:80px;padding-left:5px;">
                            <button class="btn btn-danger"
                                    th:onclick="'deleteOperativeDataRequest('+${project.getId()}+',\'projects\')'"
                            >
                                Удалить
                            </button>
                        </div>
                    </div>
                </div>

                <b style="color:#575757">Тип проекта: </b><span th:text="${project.getType().getName()}"></span>


                <!-- Issues table -->

                <div>
                    <button type="button" class="btn btn-success"
                            data-toggle="modal" data-target="#addIssue"
                            style="margin-top:20px;"
                    >
                        Создать задачу
                    </button>
                </div>

                <table class="table" style="border:1px solid rgb(233, 236, 239);margin:10px 0;">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Номер задачи</th>
                        <th scope="col">Название задачи</th>
                        <th scope="col">Приоритет</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Ответственный</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <!-- if issues exists -->
                    <tbody th:if="${issues != null && issues.size() > 0}">
                    <tr th:each="issue : ${issues}">
                        <td style="border:1px solid rgb(233, 236, 239);" th:text="${issue.getId()}"></td>
                        <td style="border:1px solid rgb(233, 236, 239);">
                            <a th:href="'/issues/'+${issue.getId()}"
                               th:text="${issue.getTitle()}"
                               target="_blank"
                            >
                            </a>
                        </td>
                        <td style="border:1px solid rgb(233, 236, 239);"
                            th:text="${issue.getPriority().getName()}"></td>
                        <td style="border:1px solid rgb(233, 236, 239);" th:text="${issue.getStatus().getName()}"></td>
                        <td style="border:1px solid rgb(233, 236, 239);"
                            th:text="${issue.getAssignee() != null ? issue.getAssignee() : 'не назначен'}"></td>
                        <td>
                            <button type="button"
                                    class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#editEntity"
                                    th:data-title="${project.getTitle()}"
                                    th:data-id="${project.getId()}"
                                    th:data-project-type="${project.getType().getId()}"
                            >
                                &#128393;
                            </button>
                            <button class="btn btn-danger"
                                    th:onclick="'deleteOperativeDataRequest('+${project.getId()}+',\'projects\')'"
                            >
                                &#128940;
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <!-- else -->
                    <tbody th:unless="${issues != null && issues.size() > 0}">
                    <tr>
                        <td colspan="6">
                            Для данного проекта еще не создано ни одной задачи.
                        </td>
                    </tr>
                    </tbody>
                    <!-- endif -->
                </table>

                <!--/ Issues table -->

            </div>

            <div th:unless="${projects != null && projects.size() > 0}" class="issue-body-frame no-content">
                Проекты не найдены
                <p style="font-size:12pt;">
                    <a href="/projects/add">Создайте</a> первый проект или повторите попытку позже.
                </p>
            </div>

            <div class="issue-list-frame">
                <div style="padding: 15px;text-align:center;font-weight:bold;color:#919191;border-bottom:1px solid #919191;">
                    Все проекты
                </div>
                <div>
                    <div th:if="${projects != null && projects.size() > 0}" th:each="currentProject : ${projects}"
                         th:class="${project.getId() == currentProject.getId() ? 'issue-list-item selected' : 'issue-list-item'}"
                         th:onclick="'window.location.href = \'/projects/'+${currentProject.getId()}+'\''"
                         th:id="'row-'+${project.getId()}"
                    >
                        <div class="issue-list-item-header" th:text="${currentProject.getTitle()}"></div>
                        <div class="issue-list-item-body" th:text="${currentProject.getType().getName()}"></div>
                    </div>
                    <div th:unless="${projects != null && projects.size() > 0}"
                         style="padding-top:10px;text-align: center;">
                        Ничего не найдено.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#editEntity').on(
        'show.bs.modal',
        function (event) {
            let button = $(event.relatedTarget);
            let title = button.data('title');
            let id = Number.parseInt(button.data('id'));
            let projectTypeId = Number.parseInt(button.data('project-type'));

            let modal = $(this);

            modal.find("#entityTitle").val(title);
            modal.find("#entityId").val(id);

            $("#projectTypeId [value='" + projectTypeId + "']").attr("selected", "selected");
        }
    );
</script>
</body>
</html>