<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="libs :: headerFragment">
    <title id="pageTitle">Учет проектов</title>
</head>
<body>
<div th:replace="menu :: menu"></div>

<!-- body -->
<div style="padding-top:35px">

    <!-- ADD BUTTON -->
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addEntity"
            style="margin-bottom:20px;margin-left:35px;"
    >
        Создать новый проект
    </button>

    <!-- ADD MODAL FORM -->
    <div class="modal fade" id="addEntity" tabindex="-1" role="dialog"
         aria-labelledby="addDialogTitle" aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDialogTitle">Создать новый проект</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="add-response"></div>

                    <div class="warn-msg" th:if="${projectTypes == null || projectTypes.size() == 0}">
                        Создание проектов ограничено, т.к. нет ни одного <a href="/handbook/projectTypes/add">типа
                        проекта</a>.
                    </div>
                    <form id="addForm" action="javascript:void(0)" method="post"
                          onsubmit="addOperativeDataRequest('projects')"
                          th:unless="${projectTypes == null || projectTypes.size() == 0}"
                    >
                        <div class="table-block">
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                    <b class="required-field-marker">Название проекта:</b>
                                </div>
                                <div class="table-cell">
                                    <input type="text" class="input" name="title"
                                           placeholder="Например, MegaFon Billing System"/>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Тип проекта:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="projectTypeId" class="input">
                                        <option th:each="projectType : ${projectTypes}"
                                                th:value="${projectType.getId()}"
                                                th:text="${projectType.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                </div>
                                <div class="table-cell">
                                    <input type="submit" class="submit-btn" value="Создать"/>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--/ ADD MODAL FORM -->

    <div class="issues-frame">
        <div style="display:table-row">
            <div th:if="${projects != null && projects.size() > 0}" class="issue-body-frame no-content">
                Выберите проект

                <p style="font-size:12pt;">
                    Выберите проект из списка справа и нажмите на него, чтобы посмотреть подробную информацию.
                </p>
            </div>

            <div th:unless="${projects != null && projects.size() > 0}" class="issue-body-frame no-content">
                Проекты не найдены
                <p style="font-size:12pt;">
                    <a href="/projects/add">Создайте</a> первый проект или повторите попытку позже.
                </p>
            </div>

            <div class="issue-list-frame">
                <div style="padding: 15px;text-align:center;font-weight:bold;color:#919191;border-bottom:1px solid #919191;">
                    Все проекты
                </div>
                <div>
                    <div th:if="${projects != null && projects.size() > 0}" th:each="project : ${projects}"
                         class="issue-list-item"
                         th:onclick="'window.location.href = \'/projects/'+${project.getId()}+'\''"
                    >
                        <div class="issue-list-item-header" th:text="${project.getTitle()}"></div>
                        <div class="issue-list-item-body" th:text="${project.getType().getName()}"></div>
                    </div>
                    <div th:unless="${projects != null && projects.size() > 0}"
                         style="padding-top:10px;text-align: center;">
                        Ничего не найдено.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>