<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="libs :: headerFragment">
    <title id="pageTitle">Справочник типов проектов</title>
</head>
<body>
<div th:replace="menu :: menu"></div>

<div class="container" style="padding-top:20px;">
    <h1>Типы проектов</h1>

    <div>
        <div style="margin-bottom: 20px">
            <a type="button"
               class="btn btn-dark"
               target="_blank"
               th:href="@{/handbook/projectTypes/add}"
            >
                Добавить новый тип
            </a>
        </div>

        <div id="response"></div>

        <div th:if="${entities == null || entities.size() == 0}"
             class="warn-msg">
            Справочник пуст.
        </div>
        <table th:unless="${entities == null || entities.size() == 0}" class="table" style="border:1px solid gray;">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Название типа</th>
                <th scope="col" style="width:250px"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="type : ${entities}" th:id="'row-'+${type.getId()}">
                <td scope="row" th:text="${type.getName()}">
                </td>
                <td style="width:250px">
                    <a class="btn btn-primary" target="_blank"
                       th:href="@{'/handbook/projectTypes/edit/' + ${type.getId()}}">
                        Изменить
                    </a>
                    <a class="btn btn-danger"
                       th:href="'#'"
                       th:onclick="'deleteRequest('+${type.getId()}+',\'projectTypes\')'"
                    >
                        Удалить
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>