<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="libs :: headerFragment">
    <title id="pageTitle">Главная страница</title>
</head>
<body>
<div th:replace="menu :: menu"></div>

<!-- body -->
<div style="padding-top:35px">

    <div id="response"></div>

    <!-- ADD PROJECT BUTTON -->
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addEntity"
            style="margin-bottom:20px;margin-left:35px;"
    >
        Создать новый проект
    </button>

    <!-- ADD PROJECT MODAL FORM -->
    <div class="modal fade" id="addEntity" tabindex="-1" role="dialog"
         aria-labelledby="addDialogTitle" aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDialogTitle">Создать новый проект</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="add-response"></div>

                    <div class="warn-msg"
                         th:if="${projectTypes == null || projectTypes.size() == 0 || projectRoles == null || projectRoles.size() == 0}">
                        Создание проектов ограничено, т.к. нет ни одного типа
                        проекта или ни одной проектной роли.
                    </div>
                    <form id="addForm" action="javascript:void(0)" method="post"
                          onsubmit="addOperativeDataRequest('projects', '#addForm', '#add-response')"
                          th:unless="${projectTypes == null || projectTypes.size() == 0 || projectRoles == null || projectRoles.size() == 0}"
                    >
                        <div class="table-block">
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                    <b class="required-field-marker">Название проекта:</b>
                                </div>
                                <div class="table-cell">
                                    <input type="text" class="input" name="title"
                                           placeholder="Например, MegaFon Billing System"/>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Тип проекта:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="projectTypeId" class="input">
                                        <option th:each="projectType : ${projectTypes}"
                                                th:value="${projectType.getId()}"
                                                th:text="${projectType.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                </div>
                                <div class="table-cell">
                                    <input type="submit" class="submit-btn" value="Создать"/>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--/ ADD PROJECT MODAL FORM -->

    <!-- EDIT PROJECT MODAL FORM -->
    <div class="modal fade" id="editEntity" tabindex="-1" role="dialog"
         aria-labelledby="editDialogTitle" aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editDialogTitle">Редактировать проект</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="edit-response"></div>

                    <form id="editForm" action="javascript:void(0)" method="post"
                          onsubmit="editOperativeDataRequest('projects', '#editForm', '#edit-response')"
                          th:unless="${projectTypes == null || projectTypes.size() == 0}"
                    >
                        <input type="hidden" id="projectId" name="id"/>

                        <div class="table-block">
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                    <b class="required-field-marker">Название проекта:</b>
                                </div>
                                <div class="table-cell">
                                    <input type="text" id="projectTitle" class="input" name="title"
                                           placeholder="Например, MegaFon Billing System"/>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Тип проекта:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="projectTypeId" name="projectTypeId" class="input">
                                        <option th:each="projectType : ${projectTypes}"
                                                th:value="${projectType.getId()}"
                                                th:text="${projectType.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                </div>
                                <div class="table-cell">
                                    <input type="submit" class="submit-btn" value="Сохранить изменения"/>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--/ EDIT PROJECT MODAL FORM -->


    <!-- ADD ISSUE MODAL FORM -->
    <div class="modal fade" id="addIssue" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Создать новую задачу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="add-issue-response"></div>

                    <div class="warn-msg"
                         th:if="${issueTypes == null || issueTypes.size() == 0
                         || issuePriorities == null || issuePriorities.size() == 0
                         || employees == null || employees.size() == 0
                         || projects == null || projects.size() == 0
                         || issueWorkflowStatuses == null || issueWorkflowStatuses.size() == 0}"
                    >
                        Создание новых задач ограничено, т.к. нет ни одного
                        <a href="/handbook/issueTypes/add">типа</a>,
                        <a href="/handbook/issuePriorities/add">приоритета</a> задачи,
                        <a href="/handbook/issueWorkflowStatuses/add">статуса рабочего процесса</a> задачи,
                        <a href="/projects/add">проекта</a>
                        или ни одного <a href="/handbook/employees/add">сотрудника</a>.
                    </div>
                    <form style="vertical-align:top;margin-bottom:30px;"
                          id="addIssueForm" action="javascript:void(0)" method="post"
                          onsubmit="addOperativeDataRequest('issues', '#addIssueForm', '#add-issue-response')"

                          th:unless="${issueTypes == null || issueTypes.size() == 0
                          || issuePriorities == null || issuePriorities.size() == 0
                          || employees == null || employees.size() == 0
                          || projects == null || projects.size() == 0
                          || issueWorkflowStatuses == null || issueWorkflowStatuses.size() == 0}"

                          th:object="${descriptionWrapper}"
                    >
                        <div class="table-block">
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                    <b class="required-field-marker">Название задачи:</b>
                                </div>
                                <div class="table-cell">
                                    <input type="text"
                                           class="input"
                                           name="title"
                                           placeholder="Например, Добавить кнопку на страницу"
                                    />
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Проект:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="addIssueProjectId" name="projectId" class="input">
                                        <option th:each="project : ${projects}"
                                                th:value="${project.getId()}"
                                                th:text="${project.getTitle()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Статус задачи:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="statusId" class="input">
                                        <option th:each="status : ${issueWorkflowStatuses}"
                                                th:value="${status.getId()}"
                                                th:text="${status.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Тип задачи:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="typeId" class="input">
                                        <option th:each="type : ${issueTypes}"
                                                th:value="${type.getId()}"
                                                th:text="${type.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Приоритет задачи:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="priorityId" class="input">
                                        <option th:each="priority : ${issuePriorities}"
                                                th:value="${priority.getId()}"
                                                th:text="${priority.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Описание:</b>
                                </div>
                                <div class="table-cell">
                                    <textarea class="input-textarea"
                                              th:field="*{description}"
                                              form="addIssueForm"
                                              placeholder="Опишите подробно, что нужно сделать в рамках задачи."
                                    ></textarea>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b>Дата окончания:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <input type="text"
                                           name="dueDateStr"
                                           class="form-control"
                                           style="width:200px;height:45px;border: 2px solid #010051;font-size:12pt;padding:10px;border-radius:0;"
                                           id="addDueDate"
                                           placeholder="Например, 01.01.1970"
                                    />
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b>Сотрудник:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="assigneeId" class="input">
                                        <option value="0" selected>
                                            - Не назначен -
                                        </option>
                                        <option th:each="employee : ${employees}"
                                                th:value="${employee.getId()}"
                                                th:text="${employee}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b>Родительская задача:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="parentIssueId" class="input">
                                        <option value="0" selected>
                                            - Нет родительской задачи -
                                        </option>
                                        <option th:each="issue : ${issues}"
                                                th:value="${issue.getId()}"
                                                th:text="${issue.getId()} + ': ' + ${issue.getTitle()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                </div>
                                <div class="table-cell">
                                    <input type="submit" class="submit-btn" value="Создать задачу"/>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--/ ADD ISSUE MODAL FORM -->

    <!-- EDIT ISSUE MODAL FORM -->
    <div class="modal fade" id="editIssue" tabindex="-1" role="dialog"
         aria-labelledby="editDialogTitle" aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать задачу</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="edit-issue-response"></div>

                    <form style="vertical-align:top;margin-bottom:30px;"
                          id="editIssueForm" action="javascript:void(0)" method="post"
                          onsubmit="editOperativeDataRequest('issues', '#editIssueForm', '#edit-issue-response')"

                          th:unless="${issueTypes == null || issueTypes.size() == 0
                          || issuePriorities == null || issuePriorities.size() == 0
                          || employees == null || employees.size() == 0
                          || projects == null || projects.size() == 0
                          || issueWorkflowStatuses == null || issueWorkflowStatuses.size() == 0}"

                          th:object="${descriptionWrapper}"
                    >
                        <input type="hidden" id="issueId" name="issueId"/>

                        <div class="table-block">
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                    <b class="required-field-marker">Название задачи:</b>
                                </div>
                                <div class="table-cell">
                                    <input type="text"
                                           class="input"
                                           id="issueTitle"
                                           name="title"
                                           placeholder="Например, Добавить кнопку на страницу"
                                    />
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Проект:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="editIssueProjectId" name="projectId" class="input">
                                        <option th:each="project : ${projects}"
                                                th:value="${project.getId()}"
                                                th:text="${project.getTitle()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Статус задачи:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="issueStatusId" name="statusId" class="input">
                                        <option th:each="status : ${issueWorkflowStatuses}"
                                                th:value="${status.getId()}"
                                                th:text="${status.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Тип задачи:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="issueTypeId" name="typeId" class="input">
                                        <option th:each="type : ${issueTypes}"
                                                th:value="${type.getId()}"
                                                th:text="${type.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Приоритет задачи:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="issuePriorityId" name="priorityId" class="input">
                                        <option th:each="priority : ${issuePriorities}"
                                                th:value="${priority.getId()}"
                                                th:text="${priority.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Описание:</b>
                                </div>
                                <div class="table-cell">
                                    <textarea class="input-textarea"
                                              th:field="*{description}"
                                              id="issueDescription"
                                              form="editIssueForm"
                                              placeholder="Опишите подробно, что нужно сделать в рамках задачи."
                                    ></textarea>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b>Дата окончания:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <input type="text"
                                           name="dueDateStr"
                                           class="form-control"
                                           style="width:200px;height:45px;border: 2px solid #010051;font-size:12pt;padding:10px;border-radius:0;"
                                           id="editDueDate"
                                           placeholder="Например, 01.01.1970"
                                    />
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b>Сотрудник:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="issueAssignee" name="assigneeId" class="input">
                                        <option value="0" selected>
                                            - Не назначен -
                                        </option>
                                        <option th:each="employee : ${employees}"
                                                th:value="${employee.getId()}"
                                                th:text="${employee}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b>Родительская задача:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="issueParent" name="parentIssueId" class="input">
                                        <option value="0" selected>
                                            - Нет родительской задачи -
                                        </option>
                                        <option th:each="issue : ${issues}"
                                                th:value="${issue.getId()}"
                                                th:text="${issue.getId()} + ': ' + ${issue.getTitle()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                </div>
                                <div class="table-cell">
                                    <input type="submit" class="submit-btn" value="Сохранить изменения"/>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--/ EDIT ISSUE MODAL FORM -->


    <!-- ADD PROJECT MEMBER MODAL FORM -->
    <div class="modal fade" id="addProjectTeamMember" tabindex="-1" role="dialog"
         aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавить сотрудника в проектную команду</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="add-project-team-member-response"></div>

                    <div class="warn-msg"
                         th:if="${employees == null || employees.size() == 0 || projectRoles == null || projectRoles.size() == 0}">
                        Добавление членов проектной команды ограничено, т.к. нет ни одного сотрудника
                        или ни одной проектной роли.
                    </div>
                    <form id="addProjectTeamMemberForm" action="javascript:void(0)" method="post"
                          onsubmit="addProjectTeamMemberRequest()"
                          th:unless="${employees == null || employees.size() == 0 || projectRoles == null || projectRoles.size() == 0}"
                    >
                        <input type="hidden" name="projectId" th:value="${project.getId()}"/>

                        <div class="table-block">
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Сотрудник:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="employeeId" class="input">
                                        <option th:each="employee : ${employees}"
                                                th:value="${employee.getId()}"
                                                th:text="${employee}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Проектная роль:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select name="projectRoleId" class="input">
                                        <option th:each="projectRole : ${projectRoles}"
                                                th:value="${projectRole.getId()}"
                                                th:text="${projectRole.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                </div>
                                <div class="table-cell">
                                    <input type="submit" class="submit-btn" value="Добавить"/>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--/ ADD PROJECT MEMBER MODAL FORM -->

    <!-- EDIT PROJECT MEMBER MODAL FORM -->
    <div class="modal fade" id="editProjectTeamMember" tabindex="-1" role="dialog"
         aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать участника проектной команды</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="edit-project-team-member-response"></div>

                    <form id="editProjectTeamMemberForm" action="javascript:void(0)" method="post"
                          onsubmit="editProjectTeamMemberRequest()"
                    >
                        <input type="hidden" id="projectTeamEmployeeId" name="employeeId"/>
                        <input type="hidden" id="projectTeamProjectId" name="projectId" th:value="${project.getId()}"/>

                        <div class="table-block">
                            <div class="table-row">
                                <div class="table-cell" style="vertical-align:top;width:200px">
                                    <b class="required-field-marker">Проектная роль:</b>
                                </div>
                                <div class="table-cell" style="vertical-align:top;">
                                    <select id="projectRoleId" name="projectRoleId" class="input">
                                        <option th:each="projectRole : ${projectRoles}"
                                                th:value="${projectRole.getId()}"
                                                th:text="${projectRole.getName()}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-row">
                                <div class="table-cell" style="width:200px">
                                </div>
                                <div class="table-cell">
                                    <input type="submit" class="submit-btn" value="Сохранить изменения"/>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!--/ EDIT PROJECT MEMBER MODAL FORM -->


    <div class="issues-frame">
        <div style="display:table-row">
            <div th:if="${projects != null && projects.size() > 0}" class="issue-body-frame" id="info-block">
                <div style="display:table;width:100%;">
                    <div style="display:table-row">
                        <div style="display:table-cell;">
                            <h4 th:text="${project.getTitle()}"></h4>
                        </div>
                        <div style="display:table-cell;width:80px;padding-right:5px;">
                            <button type="button"
                                    class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#editEntity"
                                    th:data-id="${project.getId()}"
                                    th:data-title="${project.getTitle()}"
                                    th:data-project-type="${project.getType().getId()}"
                            >
                                Изменить
                            </button>
                        </div>
                        <div style="display:table-cell;width:80px;padding-left:5px;">
                            <button class="btn btn-danger"
                                    th:onclick="'deleteOperativeDataRequest('+${project.getId()}+',\'projects\')'"
                            >
                                Удалить
                            </button>
                        </div>
                    </div>
                </div>

                <b style="color:#575757">Тип проекта: </b><span th:text="${project.getType().getName()}"></span>


                <!-- Issues table -->

                <div>
                    <button type="button" class="btn btn-success"
                            data-toggle="modal" data-target="#addIssue"
                            th:data-project="${project.getId()}"
                            style="margin-top:20px;"
                    >
                        Создать задачу
                    </button>
                </div>

                <table class="table" style="border:1px solid rgb(233, 236, 239);margin:10px 0;">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Номер задачи</th>
                        <th scope="col">Название задачи</th>
                        <th scope="col">Приоритет</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Ответственный</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <!-- if issues exists -->
                    <tbody th:if="${issues != null && issues.size() > 0}">
                    <tr th:id="'issue-row-' + ${issue.getId()}" th:each="issue : ${issues}">
                        <td style="border:1px solid rgb(233, 236, 239);" th:text="${issue.getId()}"></td>
                        <td style="border:1px solid rgb(233, 236, 239);">
                            <a th:href="'/issues/'+${issue.getId()}"
                               th:text="${issue.getTitle()}"
                               target="_blank"
                            >
                            </a>
                        </td>
                        <td style="border:1px solid rgb(233, 236, 239);"
                            th:text="${issue.getPriority().getName()}"></td>
                        <td style="border:1px solid rgb(233, 236, 239);" th:text="${issue.getStatus().getName()}"></td>
                        <td style="border:1px solid rgb(233, 236, 239);"
                            th:text="${issue.getAssignee() != null ? issue.getAssignee() : 'не назначен'}"></td>
                        <td>
                            <button type="button"
                                    class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#editIssue"
                                    th:data-id="${issue.getId()}"
                                    th:data-title="${issue.getTitle()}"
                                    th:data-description="${issue.getDescription()}"
                                    th:data-issue-type="${issue.getType().getId()}"
                                    th:data-issue-priority="${issue.getPriority().getId()}"
                                    th:data-issue-status="${issue.getStatus().getId()}"
                                    th:data-assignee="${issue.getAssignee() != null ? issue.getAssignee().getId() : null}"
                                    th:data-due-date="${issue.getDueDate() != null ? issue.getDueDate() : null}"
                                    th:data-parent-issue="${issue.getParent() != null ? issue.getParent().getId() : null}"
                                    th:data-project="${issue.getProject().getId()}"
                            >
                                &#128393;
                            </button>
                            <button class="btn btn-danger"
                                    th:onclick="'deleteOperativeDataRequest('+${issue.getId()}+',\'issues\')'"
                            >
                                &#128940;
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <!-- else -->
                    <tbody th:unless="${issues != null && issues.size() > 0}">
                    <tr>
                        <td colspan="6">
                            Для данного проекта еще не создано ни одной задачи.
                        </td>
                    </tr>
                    </tbody>
                    <!-- endif -->
                </table>

                <!--/ Issues table -->

                <!-- Project team members table -->

                <div>
                    <button type="button" class="btn btn-success"
                            data-toggle="modal" data-target="#addProjectTeamMember"
                            th:data-project="${project.getId()}"
                            style="margin-top:20px;"
                    >
                        Добавить сотрудника в команду проекта
                    </button>
                </div>

                <table class="table" style="border:1px solid rgb(233, 236, 239);margin:10px 0;">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Номер сотрудника</th>
                        <th scope="col">ФИО сотрудника</th>
                        <th scope="col">Должность</th>
                        <th scope="col">Проектная роль</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <!-- if members exists -->
                    <tbody th:if="${projectTeamMembers != null && projectTeamMembers.size() > 0}">
                    <tr th:id="'member-row-' + ${projectTeamMember.getEmployee().getId()}"
                        th:each="projectTeamMember : ${projectTeamMembers}"
                    >
                        <td style="border:1px solid rgb(233, 236, 239);"
                            th:text="${projectTeamMember.getEmployee().getId()}"></td>
                        <td style="border:1px solid rgb(233, 236, 239);" th:text="${projectTeamMember.getEmployee()}">
                        </td>
                        <td style="border:1px solid rgb(233, 236, 239);"
                            th:text="${projectTeamMember.getEmployee().getPosition()}"></td>
                        <td style="border:1px solid rgb(233, 236, 239);"
                            th:text="${projectTeamMember.getProjectRole()}"></td>
                        <td>
                            <button type="button"
                                    class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#editProjectTeamMember"
                                    th:data-employee="${projectTeamMember.getEmployee().getId()}"
                                    th:data-project-role="${projectTeamMember.getProjectRole().getId()}"
                            >
                                &#128393;
                            </button>
                            <button class="btn btn-danger"
                                    th:onclick="'deleteProjectTeamMemberRequest('+${projectTeamMember.getProject().getId()}+','+${projectTeamMember.getEmployee().getId()}+')'"
                            >
                                &#128940;
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <!-- else -->
                    <tbody th:unless="${projectTeamMembers != null && projectTeamMembers.size() > 0}">
                    <tr>
                        <td colspan="6">
                            Проектная команда не сформирована.
                        </td>
                    </tr>
                    </tbody>
                    <!-- endif -->
                </table>

                <!--/ Project team members table -->

            </div>

            <div th:unless="${projects != null && projects.size() > 0}" class="issue-body-frame no-content">
                Проекты не найдены
                <p style="font-size:12pt;">
                    <a href="/projects/add">Создайте</a> первый проект или повторите попытку позже.
                </p>
            </div>

            <div class="issue-list-frame">
                <div style="padding: 15px;text-align:center;font-weight:bold;color:#919191;border-bottom:1px solid #919191;">
                    Все проекты
                </div>
                <div>
                    <div th:if="${projects != null && projects.size() > 0}" th:each="currentProject : ${projects}"
                         th:class="${project.getId() == currentProject.getId() ? 'issue-list-item selected' : 'issue-list-item'}"
                         th:onclick="'window.location.href = \'/projects/'+${currentProject.getId()}+'\''"
                         th:id="'row-'+${project.getId()}"
                    >
                        <div class="issue-list-item-header" th:text="${currentProject.getTitle()}"></div>
                        <div class="issue-list-item-body" th:text="${currentProject.getType().getName()}"></div>
                    </div>
                    <div th:unless="${projects != null && projects.size() > 0}"
                         style="padding-top:10px;text-align: center;">
                        Ничего не найдено.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //edit project form
    $('#editEntity').on(
        'show.bs.modal',
        function (event) {
            let button = $(event.relatedTarget);
            let title = button.data('title');
            let id = Number.parseInt(button.data('id'));
            let projectTypeId = Number.parseInt(button.data('project-type'));

            let modal = $(this);

            modal.find("#projectTitle").val(title);
            modal.find("#projectId").val(id);

            $("#projectTypeId [value='" + projectTypeId + "']").attr("selected", "selected");
        }
    );

    //edit project team member form
    $('#editProjectTeamMember').on(
        'show.bs.modal',
        function (event) {
            let button = $(event.relatedTarget);
            let employeeId = Number.parseInt(button.data('employee'));
            let projectRoleId = Number.parseInt(button.data('project-role'));

            let modal = $(this);

            modal.find("#projectTeamEmployeeId").val(employeeId);
            $("#projectRoleId [value='" + projectRoleId + "']").attr("selected", "selected");
        }
    );

    //add issue form
    $('#addIssue').on(
        'show.bs.modal',
        function (event) {
            let button = $(event.relatedTarget);
            let projectId = Number.parseInt(button.data('project'));
            $("#addIssueProjectId [value='" + projectId + "']").attr("selected", "selected");
        }
    );

    //edit issue form
    $('#editIssue').on(
        'show.bs.modal',
        function (event) {
            let button = $(event.relatedTarget);
            let id = Number.parseInt(button.data('id'));
            let title = button.data('title');
            let description = button.data('description');
            let issueTypeId = Number.parseInt(button.data('issue-type'));
            let issuePriorityId = Number.parseInt(button.data('issue-priority'));
            let issueStatusId = Number.parseInt(button.data('issue-status'));
            let projectId = Number.parseInt(button.data('project'));
            let assigneeId = Number.parseInt(button.data('assignee'));
            let parentId = Number.parseInt(button.data('parent-issue'));
            let dueDate = button.data('due-date');

            let modal = $(this);

            modal.find("#issueId").val(id);
            modal.find("#issueTitle").val(title);
            modal.find("#issueDescription").val(description);
            modal.find("#editDueDate").val(dueDate);

            $("#editIssueProjectId [value='" + projectId + "']").attr("selected", "selected");
            $("#issueTypeId [value='" + issueTypeId + "']").attr("selected", "selected");
            $("#issuePriorityId [value='" + issuePriorityId + "']").attr("selected", "selected");
            $("#issueStatusId [value='" + issueStatusId + "']").attr("selected", "selected");
            $("#issueAssignee [value='" + assigneeId + "']").attr("selected", "selected");
            $("#issueParent [value='" + parentId + "']").attr("selected", "selected");
        }
    );

    //date-pickers
    $(document).ready(function () {
        const format = {
            format: 'dd.mm.yyyy'
        };

        $('#addDueDate').datepicker(format);
        $('#editDueDate').datepicker(format);
    });
</script>
</body>
</html>