<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="libs :: headerFragment">
    <title id="pageTitle">Справочник типов проектов</title>
</head>
<body>
<div th:replace="menu :: menu"></div>

<div class="container" style="padding-top:20px;">
    <h1>Поиск по задачам</h1>

    <div>
        <div class="warn-msg">
            Поиск находится в разработке.
        </div>

        <div class="info-msg">
            В поле "Поисковый запрос" можно ввести любой текст, поиск по данному критерию ведется в
            полях "Название" и "Описание задачи".
            <br/><br/>
            <b>Правила поиска:</b>
            <ul>
                <li>
                    Все поля на странице <b>необязательны</b> для заполнения.
                </li>
                <li>
                    При нажатии кнопки "Применить фильтр" запрос будет сформирован в зависимости от заполнения полей.
                    Некорректно заполненные поля будут <b>игнорироваться</b> (например, текст вместо дат).
                </li>
                <li>
                    Если не заполнено ни одно поле, будут выведены <b>все задачи</b>, которые есть в системе на данный
                    момент.
                </li>
                <li>
                    Для <b>выбора нескольких</b> элементов списков, зажимайте <b>Ctrl + Левая кнопка мыши</b>
                </li>
            </ul>
        </div>

        <div style="margin-top:20px;">
            <form action="javascript:void(0)" method="post">

                <div style="margin:10px 0 10px 10px;">
                    <b>Введите поисковый запрос:</b>
                </div>
                <div style="margin:0 10px 10px 10px;">
                    <input type="text" class="input" style="width:100%;" name="searchQuery"
                           placeholder="Например, Добавить кнопку"/>
                </div>

                <div class="table-block">
                    <div class="table-row">
                        <div class="table-cell" style="width:200px">
                            <b>Типы задач:</b>
                        </div>
                        <div class="table-cell">
                            <select multiple name="types" class="input">
                                <option th:each="type : ${types}"
                                        th:value="${type.getId()}"
                                        th:text="${type}">
                                </option>
                            </select>
                        </div>
                        <div class="table-cell" style="width:200px">
                            <b>Приоритеты задач:</b>
                        </div>
                        <div class="table-cell">
                            <select multiple name="priorities" class="input">
                                <option th:each="priority : ${priorities}"
                                        th:value="${priority.getId()}"
                                        th:text="${priority}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell" style="width:200px">
                            <b>Статусы задач:</b>
                        </div>
                        <div class="table-cell">
                            <select multiple name="statuses" class="input">
                                <option th:each="status : ${statuses}"
                                        th:value="${status.getId()}"
                                        th:text="${status}">
                                </option>
                            </select>
                        </div>

                        <div class="table-cell" style="width:200px">
                            <b>Выберите проекты:</b>
                        </div>
                        <div class="table-cell">
                            <select multiple name="projects" class="input">
                                <option th:each="project : ${projects}"
                                        th:value="${project.getId()}"
                                        th:text="${project}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell" style="width:200px">
                            <b>Ответственные сотрудники:</b>
                        </div>
                        <div class="table-cell">
                            <select multiple name="assignees" class="input">
                                <option th:each="employee : ${employees}"
                                        th:value="${employee.getId()}"
                                        th:text="${employee}">
                                </option>
                            </select>
                        </div>

                        <div class="table-cell" style="width:200px">
                            <b>Сотрудники, создавшие задачи:</b>
                        </div>
                        <div class="table-cell">
                            <select multiple name="creators" class="input">
                                <option th:each="employee : ${employees}"
                                        th:value="${employee.getId()}"
                                        th:text="${employee}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell" style="width:200px">
                            <b>Дата окончания выполнения:</b>
                        </div>
                        <div class="table-cell">
                            <input type="text"
                                   name="dueDate"
                                   class="form-control"
                                   style="width:200px;height:45px;border: 2px solid #010051;font-size:12pt;padding:10px;border-radius:0;"
                                   id="dueDate"
                                   placeholder="Например, 01.01.1970"
                            />

                            <div class="date-mode-radio-group">
                                <input type="radio" name="dueDateMode"> до
                                <input type="radio" name="dueDateMode"> после
                                <input type="radio" name="dueDateMode" checked> эквивалентна
                            </div>
                        </div>

                        <div class="table-cell" style="width:200px">
                            <b>Дата создания:</b>
                        </div>
                        <div class="table-cell">
                            <input type="text"
                                   name="dueDate"
                                   class="form-control"
                                   style="width:200px;height:45px;border: 2px solid #010051;font-size:12pt;padding:10px;border-radius:0;"
                                   id="createdDate"
                                   placeholder="Например, 01.01.1970"
                            />

                            <div class="date-mode-radio-group">
                                <input type="radio" name="createdDateMode"> до
                                <input type="radio" name="createdDateMode"> после
                                <input type="radio" name="createdDateMode" checked> эквивалентна
                            </div>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell" style="width:200px">
                            <b>Дата последнего обновления:</b>
                        </div>
                        <div class="table-cell">
                            <input type="text"
                                   name="dueDate"
                                   class="form-control"
                                   style="width:200px;height:45px;border: 2px solid #010051;font-size:12pt;padding:10px;border-radius:0;"
                                   id="updatedDate"
                                   placeholder="Например, 01.01.1970"
                            />

                            <div class="date-mode-radio-group">
                                <input type="radio" name="updatedDateMode"> до
                                <input type="radio" name="updatedDateMode"> после
                                <input type="radio" name="updatedDateMode" checked> эквивалентна
                            </div>
                        </div>

                        <div class="table-cell" style="width:200px">
                            <b>Дата закрытия:</b>
                        </div>
                        <div class="table-cell">
                            <input type="text"
                                   name="dueDate"
                                   class="form-control"
                                   style="width:200px;height:45px;border: 2px solid #010051;font-size:12pt;padding:10px;border-radius:0;"
                                   id="closedDate"
                                   placeholder="Например, 01.01.1970"
                            />

                            <div class="date-mode-radio-group">
                                <input type="radio" name="closedDateMode"> до
                                <input type="radio" name="closedDateMode"> после
                                <input type="radio" name="closedDateMode" checked> эквивалентна
                            </div>
                        </div>
                    </div>

                    <div class="table-row">
                        <div class="table-cell" style="width:200px">
                        </div>
                        <div class="table-cell">
                            <input type="submit" class="submit-btn" value="Применить фильтр"/>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    //date-pickers
    $(document).ready(function () {
        const format = {
            format: 'dd.mm.yyyy'
        };

        $('#dueDate').datepicker(format);
        $('#createdDate').datepicker(format);
        $('#updatedDate').datepicker(format);
        $('#closedDate').datepicker(format);
    });
</script>
</body>
</html>