<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="libs :: headerFragment">
    <title id="pageTitle">Учет рабочего времени</title>
</head>
<body>
<div th:replace="menu :: menu"></div>

<!-- body -->
<div class="container" style="padding:20px 0;">
    <h1>Учет рабочего времени</h1>

    Заполнение отчетности по использованию рабочего времени.

    <div id="time-sheet-response" style="margin:15px 0;">
    </div>

    <form action="javascript:void(0)" id="addTimeSheetForm" method="post"
          onsubmit="addTimeSheetRequest()"
    >
        <input id="startDate" type="hidden"/>
        <table class="table"
               style="border:1px solid gray;margin:20px 0;"
        >
            <thead class="thead-light">
            <tr>
                <th scope="col">Неделя</th>
                <th scope="col">Код задачи</th>
                <th scope="col">ПН</th>
                <th scope="col">ВТ</th>
                <th scope="col">СР</th>
                <th scope="col">ЧТ</th>
                <th scope="col">ПТ</th>
                <th scope="col">СБ</th>
                <th scope="col">ВС</th>
                <th scope="col">Total</th>
                <th scope="col" style="width:35px;"></th>
                <th scope="col" style="width:250px"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="timeSheet : ${timeSheets}">
                <td th:text="${timeSheet.getStartDate()}">
                </td>
                <td th:text="${timeSheet.issue.getId()}">
                </td>

                <td th:text="${timeSheet.getMonday()}">
                </td>
                <td th:text="${timeSheet.getTuesday()}">
                </td>
                <td th:text="${timeSheet.getWednesday()}">
                </td>
                <td th:text="${timeSheet.getThursday()}">
                </td>
                <td th:text="${timeSheet.getFriday()}">
                </td>
                <td th:text="${timeSheet.getSaturday()}">
                </td>
                <td th:text="${timeSheet.getSunday()}">
                </td>

                <td class="time-sheet-total-cell" th:text="${timeSheet.getTotal()}">
                </td>

                <td style="text-align:center;width:35px;">
                    <button th:if="${timeSheet.getComment() != null}"
                            type="button"
                            title="Комментарий сотрудника"
                            class="btn btn-outline-dark show-comment-button"
                            data-container="body"
                            data-toggle="popover"
                            data-placement="top"
                            data-trigger="focus"
                            th:data-content="${timeSheet.getComment()}"
                    >
                        <img src="http://cdn.onlinewebfonts.com/svg/img_24049.png" class="comment-icon" width="20"
                             height="20" alt="Посмотреть комментарий"/>
                    </button>
                </td>

                <td style="width:250px">
                    <input type="button" class="btn btn-primary"
                           th:data-start-date="${timeSheet.getStartDate()}"
                           th:data-task-id="${timeSheet.issue.getId()}"
                           th:data-day-1="${timeSheet.getMonday()}"
                           th:data-day-2="${timeSheet.getTuesday()}"
                           th:data-day-3="${timeSheet.getWednesday()}"
                           th:data-day-4="${timeSheet.getThursday()}"
                           th:data-day-5="${timeSheet.getFriday()}"
                           th:data-day-6="${timeSheet.getSaturday()}"
                           th:data-day-7="${timeSheet.getSunday()}"
                           th:data-comment="${timeSheet.getComment()}"
                           onclick="fillTimeSheetForm(this)"
                           value="Изменить"/>

                    <input type="button" class="btn btn-danger"
                           th:onclick="'deleteTimeSheetRequest('+${timeSheet.getEmployee().getId()}+', '+${timeSheet.getIssue().getId()}+', \''+${timeSheet.getStartDate()}+'\')'"
                           value="Удалить"/>
                </td>
            </tr>

            <tr>
                <td class="time-sheet-total-cell">
                    Total:
                </td>
                <td class="time-sheet-total-cell">
                </td>

                <td class="time-sheet-total-cell" th:text="${totalRow.getMonday()}">
                </td>
                <td class="time-sheet-total-cell" th:text="${totalRow.getTuesday()}">
                </td>
                <td class="time-sheet-total-cell" th:text="${totalRow.getWednesday()}">
                </td>
                <td class="time-sheet-total-cell" th:text="${totalRow.getThursday()}">
                </td>
                <td class="time-sheet-total-cell" th:text="${totalRow.getFriday()}">
                </td>
                <td class="time-sheet-total-cell" th:text="${totalRow.getSaturday()}">
                </td>
                <td class="time-sheet-total-cell" th:text="${totalRow.getSunday()}">
                </td>

                <td class="time-sheet-total-cell-in-total-row" th:text="${totalRow.getTotal()}">
                </td>

                <td style="width:35px;"></td>

                <td style="width:250px">
                </td>
            </tr>

            <tr>
                <td th:text="${currentWeek}">
                </td>
                <td>
                    <input type="text" class="time-sheet-input"
                           style="width:120px;"
                           id="taskId"
                           name="taskId"
                    >
                </td>

                <td>
                    <input type="number" class="time-sheet-input"
                           id="day1"
                           name="day1"
                    >
                </td>
                <td>
                    <input type="number" class="time-sheet-input"
                           id="day2"
                           name="day2"
                    >
                </td>
                <td>
                    <input type="number" class="time-sheet-input"
                           id="day3"
                           name="day3"
                    >
                </td>
                <td>
                    <input type="number" class="time-sheet-input"
                           id="day4"
                           name="day4"
                    >
                </td>
                <td>
                    <input type="number" class="time-sheet-input"
                           id="day5"
                           name="day5"
                    >
                </td>
                <td>
                    <input type="number" class="time-sheet-input"
                           id="day6"
                           name="day6"
                    >
                </td>
                <td>
                    <input type="number" class="time-sheet-input"
                           id="day7"
                           name="day7"
                    >
                </td>

                <td>
                </td>

                <td>
                </td>

                <td style="width:250px">
                    <input type="submit" class="btn btn-dark"
                           value="Сохранить"/>
                    <input type="reset" class="btn btn-danger"
                           form="addTimeSheetForm"
                           value="Очистить"/>
                </td>
            </tr>

            <tr>
                <td style="border:0;"></td>
                <td style="border:0;">
                    <labeL for="comment">Комментарий:</labeL>
                </td>
                <td colspan="7" style="border:0;">
                    <input type="text" id="comment" name="comment" class="time-sheet-input" style="width:100%;"
                           placeholder="Дополнительный комментарий"/>
                </td>
                <td colspan="3" style="border:0;"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>